/* Stil  */
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Form label */
form label {
    display: block; /*  Allows labels to appear at the block level, each appearing on a separate line
    */
    margin-bottom: 5px; 
}

form select,
form input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; /* Sets the bottom spacing of option and input fields, leaving a 15px space between fields
    */
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

/* Submit butonu  */
form button[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; /* Buton iç boşluğunu ayarlar, yatayda 10px, dikeyde 20px boşluk bırakır */
    border: none; 
    border-radius: 4px; 
    cursor: pointer; /*The mouse pointer makes a hand gesture when hovering over the button.
    */
    float: right; /* Butonu sağa yaslar, diğer içeriğin soluna gelir */
}

/* Select menu  still */
form select {
  
    background-image: url("path/to/your_arrow_icon.png"); 
    background-repeat: no-repeat; /* Arkaplandaki ok ikonunun yinelenmesini engeller */
    background-position: right center; /* Arkaplandaki ok ikonunun sağ ortada görünmesini sağlar */
}



/* for warning and error */
form input:invalid {
    border: 1px solid #ff0000; 
}



.flash-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flash-success {
    background-color: #4CAF50;
    color: white;
}

.flash-error {
    background-color: #FF0000;
    color: white;
}
