/* CSS kodu */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px; /* Add a space to put the form above the header */

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 330px; /* We set a header to move the title up */

    left: 50%;
    transform: translateX(-50%); /* We use it to center the title horizontally */

}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    color: red;
    text-align: center;
    margin-top: 10px;
}
