/* Base stilini sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* İçerik stil ayarları */
.content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 10px;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Tablo stil ayarları */
table {
    width: 80%; /* Tablonun genişliğini sınırla */
    margin: 0 auto; /* Tabloyu merkeze hizala */
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 18px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f3f3f3;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Footer stil ayarları */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Butonlar için stil ayarları */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Butonları sayfanın altına yerleştir */
}

.buttons-container a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px; /* Butonların genişliğini sınırla */
    text-align: center; /* Buton metnini merkeze hizala */
}

.buttons-container a:hover {
    background-color: #0056b3;
}
