<!DOCTYPE html>
<html>
<head>
    <title>Garage Admin - Invoice</title>
    <link rel="stylesheet" href="/static/admin_invoice.css"> <!-- CSS dosyasının yolu -->
</head>
<body>
    <h1>Customer Invoice</h1>
    <div class="invoice-details">
        <p>CUSTOMER: Joe Bloke</p>
        <p>Mob No: 085 02140201</p>
        <p>Vehicle: Peugeot 406</p>
        <p>Licence: 12 G 123456</p>
        <p>Annual Service €189</p>
        <p>Mini Valet €39</p>
        <p>Car mat €17</p>
        <p>TOTAL DUE €245</p>
        <p>Payment due on collection.</p>
    </div>
</body>
</html>
