<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ger's Garage{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">

</head>
<body>
    <header class="header">
        <h1>Ger's Garage</h1>
        <ul class="header-info">
            <li>Email: info@gersgarage.com</li>
            <li>Phone: +1 123-456-7890</li>
            <li>Opening Hours: Mon-Sat, 8am-6pm</li>
        </ul>
        <div class="dropdown">
            <button class="login" id="login-button">Login</button>
            <div class="dropdown-content">
                <a href="login.html">Login</a>
                <a href="myprofile.html">My Profile</a>
                <a href="#">My Bookings</a>
                <a href="login.html">Log Out</a>
            </div>
            <script>
            document.getElementById("login-button").addEventListener("click", function() {
                var dropdownContent = document.querySelector(".dropdown-content");
                dropdownContent.classList.toggle("active");
              });</script>
              
        </div>
    </header>
    <nav class="nav">
        <a href="index.html">Home</a>
        <a href="service.html">Services</a>
        <a href="prices.html">Prices</a>
        <a href="about.html">About Us</a>
        <a href="booking.html">Booking</a>
        <a href="contact.html">Contact</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
