{% extends "base.html" %}

{% block content %}
  <h1>Ger's Garage Reservation Form</h1>

  <form id="bookingForm" method="POST" action="/add_booking">
    <label for="licenceDetails">License Plate Number:</label>
    <select name="licence_details" id="licenceDetails" required>
      {% for vehicle in vehicles %}
      <option value="{{ vehicle[4] }}">{{ vehicle[4] }}</option>
      {% endfor %}
    </select><br><br>

    <label for="bookingType">Booking Type:</label>
    <select name="booking_type" id="bookingType" required>
      <option value="AnnualService">Annual Service</option>
      <option value="MajorService">Major Service</option>
      <option value="Repair">Repair/Fault</option>
      <option value="MajorRepair">Major Repair</option>
    </select><br><br>

    <label for="bookingDate">Booking Date:</label>
    <input type="date" name="booking_date" id="bookingDate" required><br><br>

    <label for="userComments">Customer Comments:</label>
    <textarea name="user_comments" id="userComments" rows="4"></textarea><br><br>

    <button type="submit">Make Reservation</button>
  </form>


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <div class="messages">
          {% for category, message in messages %}
              <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
      </div>
  {% endif %}
{% endwith %}



  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_vehicle.css') }}">

  <script>
    // Get the date input element
    const bookingDateInput = document.getElementById("bookingDate");

    // Get today date and set it as the min attribute for  date input
    const today = new Date().toISOString().split("T")[0];
    bookingDateInput.setAttribute("min", today);

    // Disable Sundays (day 0) in the date input
    bookingDateInput.addEventListener("input", function () {
      const selectedDate = new Date(bookingDateInput.value);
      if (selectedDate.getDay() === 0) {
        alert("Sundays are not allowed for booking. Please choose a different date.");
        bookingDateInput.value = "";
      }
    });

 
  </script>

{% endblock %}
