
{% extends "base.html" %}
    
{% block content %}
    <section class="content">
        <h1>Welcome to Ger's Garage</h1>
        <img src="file:///C:/proje/image/garage-image.jpg" alt="Garage Image">
        <p>We are a leading garage offering high-quality car services and repairs. With our team of experienced mechanics, we provide reliable solutions for all your automotive needs.</p>
    </section>




    
    <footer class="footer">
        <p>&copy; 2023 Ger's Garage. </p>
    </footer>



    {% endblock %}
