{% extends "base.html" %}

{% block content %}
    <section class="content">
        {% if show_myprofile_button %}
            <h1>Welcome to Ger's Garage, {{ name }} {{ surname }}</h1>
            <img src="file:///C:/proje/image/garage-image.jpg" alt="Garage Image">
            


            <h2>Contact Information</h2>
            <p>Your name:{{name}}</p>
            <p>Your surname:{{surname}}</p>
            <p>Your email: {{ email }}</p>
            <p>Your phone number: {{ mobile_phone }}</p>
            <h2>Vehicle Information</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Vehicle Type</th>
                        <th>Make</th>
                        <th>Engine Type</th>
                        <th>Plate Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <td>{{ vehicle[2] }}</td>
                        <td>{{ vehicle[3] }}</td>
                        <td>{{ vehicle[5] }}</td>
                        <td>{{ vehicle[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

          
        {% else %}
            <h1>My Profile</h1>
            <p>You need to log in to access your profile.</p>
        {% endif %}
    </section>

   
    
    <div class="buttons-container">
        <a href="add_vehicle.html">Add Vehicle</a>
        <a href="#">Update Vehicle information</a>
        <a href="#">Update Contact Information</a>
        <a href="booking.html"> Make a reservation </a>
        <a href="vehicle_status.html">Get Vehicle Status</a>

    </div>

    <footer class="footer">
        <p>&copy; 2023 Ger's Garage. </p>
    </footer>
    <!-- Css reference -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myprofile.css') }}">
{% endblock %}
