
{% extends "base.html" %}

{% block content %}
    
    
    <link rel="stylesheet" type="text/css" href="/static/service.css">

    <section class="content">
        <h1>Our Services</h1>
        <ul class="service-list">
            <li>
                <h2>Annual Maintenance</h2>
                <p>Comprehensive inspection and maintenance to ensure the overall health and performance of the vehicle.</p>
            </li>
            <li>
                <h2>Major Maintenance</h2>
                <p>Extensive maintenance procedures, including engine tuning, fluid replacement, and component checks.</p>
            </li>
            <li>
                <h2>Repair / Fault Diagnosis</h2>
                <p>Identification and repair of vehicle issues and malfunctions to restore optimal functionality.</p>
            </li>
            <li>
                <h2>Major Repair</h2>
                <p>Extensive repair services for significant vehicle issues, including engine repairs and part replacements.</p>
            </li>
          
            

{% endblock %}